/*h2 {
  color: hotpink;
}
*/


/*this is every page, changed by swipe*/
.pageContainer {
	/*position: relative;*/
	/*border: 1px solid black;*/
	display: none;
	height: 95vh;
	margin: auto;
}



/*this should be displayed at first, */ 
#homePageContainer{
	display:flex;
}


/*this shhould not be displayed at first, this is for testing */
/*#firstQuestionContainer{
	display:flex;
}
*/


/*for debug too*/
/*#successPageContainer{
	display: flex;
}*/

.questionsDiv {
	/*display: none;*/
}

#backgroundChargeOne{
	background-color: #e8005f;
	animation-name: chargingLtoR, chargingExpand;

}

#backgroundChargeTwo{
	background-color: #14e236;
	animation-name: chargingLtoR, chargingExpand;

}

#backgroundChargeThree{
	background-color: #f4ee19;
	animation-name: chargingRtoL, chargingExpand;

}


.backgroundCharge{
	/*border: lightblue solid 1px;*/
	height: 100vh;
	width: 100vw;
	right:0;
	top: 0;
	z-index: -1;
	position: absolute;
	/*animation-iteration-count: 1, 1; */
	animation-delay: 0s, 1s;
	animation-duration: 1s, 0.5s;
}




@keyframes chargingRtoL {
	from {
		height: 85vh;
		width: 0vw;
		right: 7.5vw;
		top: 7.5vh;
		border-radius: 20px;
	}
	to {
		height: 85vh;
		width: 85vw;
		right: 7.5vw;
		top: 7.5vh;
		border-radius: 20px;

	}
}


@keyframes chargingLtoR {
	from {
		height: 85vh;
		width: 0vw;
		left: 7.5vw;
		top: 7.5vh;
		border-radius: 20px;

	}
	to {
		height: 85vh;
		width: 85vw;
		left: 7.5vw;
		top: 7.5vh;
		border-radius: 20px;
		
	}
}

@keyframes chargingExpand{
	0% {
		height:90vh;
		width: 90vw;
		right: 5vw;
		top: 5vh;
		border-radius: 20px;
	}
	25% {
		height:100vh;
		width: 100vw;
		right: 0;
		top: 0;
		border-radius: 0px;
	}

	50%{
		height:95vh;
		width: 95vw;
		right: 2.5vw;
		top: 2.5vh;
		border-radius: 20px;
	}

	100%{
		height:100vh;
		width: 100vw;
		right: 0;
		top: 0;
		border-radius: 0px;
	}
}





.reverseCharge {
	height: 0vh;
	width: 0vw;
	right:0;
	top: 0;
	z-index: -1;
	position: absolute;
	animation-iteration-count: 1, 1; 
	animation-delay: 0s, 0.5s;
	animation-duration: 0.5s, 1s;
}

#backgroundChargeOneReverse{
	/*background-color: #00ff3c;*/
	background-color: #e8005f;
	animation-direction: reverse;
	animation-name:chargingExpand, chargingLtoR;
}

#backgroundChargeTwoReverse{
	/*border: #00ff3c solid 1px ;*/
	background-color: #14e236;
	animation-direction: reverse;
	animation-name:chargingExpand, chargingRtoL

}

#textDisplay {
	color: black;
	text-align: center;
}


#batteryContainer {
	position: absolute;
	width: 50vw;
	height: 50vw;
	/*border: 1px solid black;*/
	bottom: 10vh;
	left: 25vw;

}


.battery-0.icon {
  color: #000;
  position: absolute;
/*  margin-left: 2px;
  margin-top: 6px;*/
  left:4vw;
  width: 36vw;
  height: 21vw;
  bottom: 10vh;
/*  width: 13px;
  height: 7px;*/
  border-radius: 20px;
  border: solid 5px currentColor;
}

.battery-0.icon:before {
  content: '';
  position: absolute;
  left: 36vw;
  top: 6vw;
  width: 4vw;
  height:9vw;	
/*  width: 2px;
  height: 3px;*/
  border-radius: 0 10px 10px 0;
  border-top: solid 5px currentColor;
  border-right: solid 5px currentColor;
  border-bottom: solid 5px currentColor;
}

.battery-0.icon:after {
  content: '';
  position: absolute;
  /*display: none;*/
  left: 1.5vw;
  top: 1.5vw;
  width: 0vw;
  height: 18vw;
  background-color: currentColor;
  border-radius: 10px;
  /*animation-delay: 0s;*/
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-name: batteryCharge;
  /*animation-delay: 2s;*/
}

@keyframes batteryCharge {

	from{
		width: 0vw;
	}
	to{
		width: 33vw;
	}

}

@keyframes appear{
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#maxText{
	position: absolute;
	z-index: 100;
	color: #f4ee19;	
	/*display: none;*/
	/*border: 1px solid white;*/
	font-size: 12vw;
	text-align: center;
	left: 4vw;
	top: -6vw;
	/*opacity:0;*/
	animation-duration: 2s;
	animation-name: appear;
}



@media only screen and (max-width: 500px) {
  body{
  	background-color: #1818ed;
  }

/*  h2 {
    color: lightblue;
  }
*/

	
}