h2, h1, p{
	margin: 0;
}

body{ 
	margin: 0;
	background: linear-gradient(270deg, #1818ed, #12002b);

	background-size: 400% 400%;

	-webkit-animation: changeBg 3s ease infinite;
    -moz-animation: changeBg 3s ease infinite;
    animation: changeBg 3s ease infinite;
}


@-webkit-keyframes changeBg {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}
@-moz-keyframes changeBg {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}
@keyframes changeBg {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}

/*this is every page, changed by swipe*/
.pageContainer {
	/*position: relative;*/
	/*border: 1px solid black;*/
	display: none;
	height: 95vh;
	margin: auto;
}



/*this should be displayed at first, */ 
#homePageContainer{
	display:flex;
}


/*this shhould not be displayed at first, this is for testing */
/*#firstQuestionContainer{
	display:flex;
}
*/


/*for debug too*/
/*#successPageContainer{
	display: flex;
}*/



/*  the following code is the bg charging

#backgroundChargeOne{
	background-color: #e8005f;
	animation-name: chargingLtoR, chargingExpand;

}

#backgroundChargeTwo{
	background-color: #14e236;
	animation-name: chargingLtoR, chargingExpand;

}

#backgroundChargeThree{
	background-color: #f4ee19;
	animation-name: chargingRtoL, chargingExpand;

}


.backgroundCharge{
	height: 100vh;
	width: 100vw;
	right:0;
	top: 0;
	z-index: -1;
	position: absolute;
	animation-delay: 0s, 1s;
	animation-duration: 1s, 0.5s;
}




@keyframes chargingRtoL {
	from {
		height: 85vh;
		width: 0vw;
		right: 7.5vw;
		top: 7.5vh;
		border-radius: 20px;
	}
	to {
		height: 85vh;
		width: 85vw;
		right: 7.5vw;
		top: 7.5vh;
		border-radius: 20px;

	}
}


@keyframes chargingLtoR {
	from {
		height: 85vh;
		width: 0vw;
		left: 7.5vw;
		top: 7.5vh;
		border-radius: 20px;

	}
	to {
		height: 85vh;
		width: 85vw;
		left: 7.5vw;
		top: 7.5vh;
		border-radius: 20px;
		
	}
}

@keyframes chargingExpand{
	0% {
		height:90vh;
		width: 90vw;
		right: 5vw;
		top: 5vh;
		border-radius: 20px;
	}
	25% {
		height:100vh;
		width: 100vw;
		right: 0;
		top: 0;
		border-radius: 0px;
	}

	50%{
		height:95vh;
		width: 95vw;
		right: 2.5vw;
		top: 2.5vh;
		border-radius: 20px;
	}

	100%{
		height:100vh;
		width: 100vw;
		right: 0;
		top: 0;
		border-radius: 0px;
	}
}





.reverseCharge {
	height: 0vh;
	width: 0vw;
	right:0;
	top: 0;
	z-index: -1;
	position: absolute;
	animation-iteration-count: 1, 1; 
	animation-delay: 0s, 0.5s;
	animation-duration: 0.5s, 1s;
}

#backgroundChargeOneReverse{
	background-color: #e8005f;
	animation-direction: reverse;
	animation-name:chargingExpand, chargingLtoR;
}

#backgroundChargeTwoReverse{
	background-color: #14e236;
	animation-direction: reverse;
	animation-name:chargingExpand, chargingRtoL

}

*/




#textDisplay {
	color: black;
	text-align: center;
}


#batteryContainer {
	position: absolute;
	width: 50vw;
	height: 50vw;
	/*border: 1px solid black;*/
	bottom: 10vh;
	left: 25vw;

}


.battery-0.icon {
  color: #000;
  position: absolute;
/*  margin-left: 2px;
  margin-top: 6px;*/
  left:4vw;
  width: 36vw;
  height: 21vw;
  bottom: 10vh;
/*  width: 13px;
  height: 7px;*/
  border-radius: 20px;
  border: solid 5px currentColor;
}

.battery-0.icon:before {
  content: '';
  position: absolute;
  left: 36vw;
  top: 6vw;
  width: 4vw;
  height:9vw;	
/*  width: 2px;
  height: 3px;*/
  border-radius: 0 10px 10px 0;
  border-top: solid 5px currentColor;
  border-right: solid 5px currentColor;
  border-bottom: solid 5px currentColor;
}

.battery-0.icon:after {
  content: '';
  position: absolute;
  /*display: none;*/
  left: 1.5vw;
  top: 1.5vw;
  width: 0vw;
  height: 18vw;
  background-color: currentColor;
  border-radius: 10px;
  /*animation-delay: 0s;*/
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-name: batteryCharge;
  /*animation-delay: 2s;*/
}

@keyframes batteryCharge {

	from{
		width: 0vw;
	}
	to{
		width: 33vw;
	}

}

@keyframes appear{
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#maxText{
	position: absolute;
	z-index: 100;
	color: #f4ee19;	
	/*display: none;*/
	/*border: 1px solid white;*/
	font-size: 12vw;
	text-align: center;
	left: 4vw;
	top: 1.5vw;
	/*opacity:0;*/
	animation-duration: 2s;
	animation-name: appear;
}




/*the folloring code is for landing page*/

img{
	width: 100%;
}

#uedImg {
	position: absolute;
	/*border: 1px white solid;*/
	width: 94vw;
	height: 94vw;
	left: 3vw;
	top: 7vh;
	z-index: 100
}


.bgGrid {
	position: absolute;
	width: 88vw;
	height: 88vw;
	/*border: 1px white solid;*/
	left: 6vw;
	top: 11vh;
	z-index: -100;
}

#bgGrid2 {
	top: 20vh;
}


.logoLeft {
	position: absolute;
	width: 55vw;
	bottom: 2vh;
	left: 3vh;
}

.logoRight{
	position: absolute;
	width: 55vw;
	bottom: 2vh;
	right: 3vh;
}

#slide {
	position: absolute;
	width: 88vw;
	left: 6vw;
	bottom: 3vh;
}

#text{
	position: absolute;
	width: 33vw;
	bottom: 22vh;
	left: 3vw;
	z-index: 100
}

.title{
	top: 2vh;
	color: white;
	position: absolute;
	right: 2vw;
	font-size: 4vw;
}


#went{
	position: absolute; 
	width: 95vw;
	top: 14vh;
}

#wentName > h2, #wentName > h1 {
	margin: 0;
	color: white;
}


#wentName {
	position: absolute;
	top: 9vh;
	left: 3vw;
}

#wentIntroOne{
	color: white;
	position: absolute;
	background-color: #1818ed;
	top: 60vh;
	width: 60vw;
	font-size: 4vw;
}

#wentIntroTwo{
	color: white;	
	position: absolute;
	background-color: #1818ed;
	width: 75vw;
	top: 78vh;
	text-align: justify;
	font-size: 2.5vw;
	right: 3vw;
}


.questionContentDiv{
	color: white;
	width: 100vw;
	left: 1vw;
	/*border:1px solid black;*/
	height: 80vh;
	/*bottom: 4vh;*/
	display: flex;
	margin-top: 10vh;
	margin-bottom: 10vh;
	flex-direction: column;
}

.num {
	/*position: absolute;*/
	font-size: 12vw;
	font-weight: bold;
	margin-left: 1vw;
	/*display: block;*/
	/*top: 5vh;*/
	/*left: 3vw;*/
}

.questions{
	font-size: 5vw;
	text-align: center; 
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#icon {
	width: 10vh;
	height: 10vh;
	display: inline-block;
}


#iconP{
	width: 50vw;
}


.answers {
	width: 100%;
	/*border: 1px solid black;*/
	height: 60vh;
	position: relative;
}

.swipeRight{
	position: absolute;
	width: 70vw;
	height: 28vh;
	top:0;
	left: 0;
	background-color: white;
}

.swipeLeft {
	position: absolute;
	width: 70vw;
	height:28vh;
	/*z-index: 100;*/
	bottom: 0;
	right: 0;
	/*background-color: pink;*/
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-right:1px solid white;
}


.arrowLeft{
	color: white;
	position: absolute;
  	width: 8px;
  	height: 8px;
  	border-left: solid 1px currentColor;
  	border-top: solid 1px currentColor;
  	-webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

@media only screen and (max-width: 500px) {
  body{
  	/*background-color: #1818ed;*/
  }

/*  h2 {
    color: lightblue;
  }
*/

	
}